body {
    background-color: black;
    margin: 0px;
    height: 100vh;
    display: grid;
    place-items: center;
    

}
.card-group,
.card-big {
    aspect-ratio: 1 / 1;
    width: 20vmin;
}
.card-big {
    height: auto;
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    border-radius: 1.2vmin;
    transition: transform 200ms cubic-bezier(.69,.31,.9,.37);
}
/* ENSIMMÄINEN RAKENNE */
.card-big:nth-child(1){
    transform: translateX(-8%) translateY(-6%);
}
.card-big:nth-child(2){
    
    transform: translateX(4%)translateY(-3%);
}
.card-big:nth-child(3){
    
    
    transform: translateX(-6%)translateY(4%);
}
.card-big:nth-child(4){
    background-color: rgba(0, 0, 255, 0.5);

}

.card-group:hover > .card-big:nth-child(1) {
    transform: translateX(-60%)translateY(0%)rotate(0deg);
}
.card-group:hover > .card-big:nth-child(2) {
    transform: translateX(60%)translateY(0%)rotate(-0deg);
}
.card-group:hover> .card-big:nth-child(3) {
    transform: translateX(180%)translateY(0%)rotate(0deg);
}
.card-group:hover> .card-big:nth-child(4) {
    transform: translateX(-180%)translateY(0%)rotate(-0deg);
}
/* SISEMPI VALIKKO */
.card-big2:nth-child(1){
    transform: translateX(-8%) translateY(-6%);
}
.card-big2:nth-child(2){
    
    transform: translateX(4%)translateY(-3%);
}
.card-big2:nth-child(3){
    
    
    transform: translateX(-6%)translateY(4%);
}
.card-big2:nth-child(4){
    background-color: rgba(0, 0, 255, 0.5);

}
.card-groupInner.active > .card-big:nth-child(1) {
    transform: translateX(0%)translateY(-60%)rotate(0deg);
}
.card-groupInner.active > .card-big:nth-child(2) {
    transform: translateX(0%)translateY(60%)rotate(-0deg);
}
.card-groupInner.active> .card-big:nth-child(3) {
    transform: translateX(0%)translateY(180%)rotate(0deg);
}
.card-groupInner.active .card-big:nth-child(4) {
    transform: translateX(0%)translateY(-180%)rotate(-0deg);
}